@page
@model SuperHeroSocialClubLight.Pages.Superhero.SignupModel
@{
}

<form method="post">
	<label>Superhero Name:</label>
	<input type="name" placeholder="Supername" asp-for="@Model.Name" />
	<label>Secret identity:</label>
	<input type="secretidentity" placeholder="Secret Identity" asp-for="@Model.SecretIdentity" />
	<label>Superpower:</label>
	<input type="superpower" placeholder="Superpower" asp-for="@Model.Superpower" />

	<input class="btn btn-danger" type="submit" value="Sign up as a superhero!" />
</form>