@page
@model SuperHeroSocialClubLight.Pages.Superhero.SuperheroesModel
@{
}

<h1>OUR HEROES</h1>
<input class="btn btn-danger" type="submit" asp-route-page="/Superhero/Signup/" value="Sign up as a superhero!" />


@foreach (var s in Model.Superheroes)
{
	<a asp-page="/Superhero/Details" asp-route-id="@s.Id">
		<h1>@s.Name</h1>
		<img src="/img/@s.Img"/>



	</a>
}