@page
@model SuperHeroSocialClubLight.Pages.Superhero.SuperheroesModel
@{
}
<!-- Show all superheroes -->




<!-- ID -->
<a asp-route-id="@Superhero.Id"

<!-- Superhero name -->

asp-route-superheroname="@Superhero.Name"

<!-- Secret Identity -->

asp-route-secretidentity="@Superhero.identity"

<!-- Superpower -->

asp-route-superpower="@Superhero.superpower"


</a>