@page
@model SuperHeroSocialClubLight.Pages.Superhero.SuperheroesModel
@{
}
<a asp-page="/Superhero/Signup/">
	<input class="btn btn-danger" type="submit" value="Sign up as a superhero!" />
</a>

<h1>OUR HEROES</h1>



@foreach (var s in Model.Superheroes)
{
	<a asp-page="/Superhero/Details" asp-route-id="@s.Id">
		<h1>@s.Name</h1>
		<img src="/img/@s.Img"/>



	</a>
}